$primaryColor: #bb9d52;
$linkColor: #757575;

.btn_wrapper {
  color: $linkColor;
}

.btn {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: $linkColor;
  background: black;
  border-radius: 10px;
  transition: 0.3s;

  @media screen and (max-width: 600px) {
    font-size: 1em;
  }

  &:hover {
    cursor: pointer;
    background-color: $primaryColor;
    color: white;
  }
  &::after {
    pointer-events: none;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -2px;
    left: -2px;
    padding: 2px;
    box-shadow: 0 0 0 2px $primaryColor;
    border-radius: 10px;
    transform: scale(1.1);
    opacity: 0;
    transition: 0.3s;
  }
  &:hover::after {
    transform: scale(1);
    opacity: 1;
  }
}
