$primaryFamily: "Roboto", sans-serif;

.hero {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  height: 100%;
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: $primaryFamily;
  line-height: 1.2;
  h1 {
    font-size: 7.5rem;
    font-weight: 700;
    @media screen and (max-width: 650px) {
      font-size: 4rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 2em;
    }
  }
  h2 {
    font-size: 3rem;
    font-weight: 100;
    text-transform: capitalize;
    @media screen and (max-width: 650px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 1.5rem;
    }
  }
  p {
    margin-top: 3rem;
    margin-bottom: 8rem;
    font-size: 2rem;
    font-weight: 300;
    @media screen and (max-width: 450px) {
      font-size: 1.7em;
      text-align: center;
    }
  }
}
