$primaryColor: #bb9d52;
$linkColor: #757575;

.menu {
  height: 100vh;
  background: black;
  text-align: center;
  z-index: 10;
  @media screen and (max-width: 1580px) {
    position: absolute;
    top: 0;
    transform: translateX(-100%);
  }

  img {
    margin-top: 90px;
    vertical-align: middle;
  }

  li {
    margin: 1rem auto;
    padding: 0.5rem;
    width: 200px;
    font-size: 1.3rem;
    color: $linkColor;
    border-radius: 5px;
    transition: 0.3s;
    &:hover {
      background-color: $primaryColor;
    }
    a {
      &:hover {
        cursor: pointer;
        // background-color: $primaryColor;
        color: white;
      }
    }
  }
}

.active {
  background-color: $primaryColor;
  a {
    color: white;
  }
}

.hamburger {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 11;
  @media screen and (min-width: 1580px) {
    display: none;
  }
}

.open {
  transform: translateX(0);
  width: 350px;
}

.icon {
  height: 40px;
  color: $primaryColor;
}
