$primaryColor: #bb9d52;
$linkColor: #757575;

.menu {
  height: 100vh;
  background: black;
  text-align: center;

  img {
    margin-top: 90px;
    vertical-align: middle;
  }

  li {
    margin: 1rem auto;
    padding: 0.5rem;
    width: 200px;
    font-size: 1.3rem;
    color: $linkColor;
    border-radius: 5px;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background-color: $primaryColor;
      color: white;
    }
  }
}

.active {
  background-color: $primaryColor;
  a {
    color: white;
  }
}
